.bg-brown {
  background-color: #a52a2a !important;
}

.bg-red {
  background-color: #dc143c !important;
}

.custom-file-label,
.custom-file-input,
.display-no {
  display: none;
}

.display-no-btn {
  display: none !important;
}

.div-btn {
  padding: 5px 0px;
}

.div-carga {
  margin: 15px 0px 0px 0px;
}

.li-arch {
  margin: 20px 0px;
}

td {
  vertical-align: middle !important;
}

.divModalVacio {
  padding: 0px 20px;
  color: gray;
}

.color-black-blue {
  color: #323a44 !important;
}

.color-blue-grey {
  color: #6c7a86 !important;
}

.color-blue-grey-lighter {
  color: #919fa9 !important;
}

.color-blue {
  color: #00a8ff !important;
}

.color-purple {
  color: #ac6bec !important;
}

.color-yellow {
  color: #fed832 !important;
}

.color-lime {
  color: #afed3e !important;
}

.color-green {
  color: #46c35f !important;
}

.color-red {
  color: #fa424a !important;
}

.color-orange {
  color: #fdad2a !important;
}

/*Toggle redondeado*/
.switchBtn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19px;
  right: 0;
  top: 0;
  float: right;
}

.switchBtn input {
  display: none;
}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #24bf5c;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 2px;
  color: #fff;
}

.slide:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 20px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slide {
  background-color: #bf2424;
  padding-left: 0px;
}

input:focus+.slide {
  box-shadow: 0 0 1px #01aeed;
}

input:checked+.slide:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  left: -10px;
}

.slide.round {
  border-radius: 34px;
}

.slide.round:before {
  border-radius: 50%;
}

.labelToggle {
  font-size: 20px;
  color: #004A80;
  margin-bottom: 10px;
  display: inline-block;
}

.divisor {
  background-color: #306a76;
  height: 10px;
}

input::placeholder{
  color: lightgray !important;
}

.cuadroInsertar {
  background-color: white;
  margin: 10px ;
  margin-left: 0px !important;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  box-shadow: 0px 1px 15px 3px lightgrey;
}

.btn-square-icon {
  min-width: 80px;
  height: 60px;
  border: solid 1px #d8e2e7;
  background: #f6f8fa;
  padding: 4px 10px 0;
  color: #6c7a86;
  position: relative;
  margin: 0 6px 10px 0;
  vertical-align: middle;
  text-align: center;
}
.btn-square-icon .fa {
  display: block;
  margin: 0 0 2px;
}
.btn-square-icon .label {
  padding-left: .5em;
  padding-right: .5em;
  position: absolute;
  right: -5px;
  top: -5px;
}
.btn-square-icon:hover {
  background-color: #ecf2f5;
}
.btn-square-icon.btn-square-icon-rounded {
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
}
a.btn-square-icon {
  display: inline-block;
  color: #6c7a86;
  padding-top: 11px;
}

.btn.btn-inline {
  margin-right: 8px;
  margin-bottom: 8px;
}

.labelTextbox {
  font-size: 22px;
  color: black;
}

.folio {
  font-size: 24px;
  color: red;
}

.detallesInspeccion {
  padding: 0 40px;
}

.detallesInspeccion>li>label {
  margin: 0;
}

.detallesInspeccion>li {
  padding: 15px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.detallesInspeccion>li>p {
  margin: 0;
}

.observaciones fieldset {
  text-align: center;
  display: block;
  padding: 0 2em;
  border: 3px groove #d4d7db;
  margin: 0 1em;
}

fieldset>legend {
  font-weight: bold;
}

.btnTipoInspeccion {
  border: 0;
  background-color: #6ebcff;
  width: 50%;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.btnTipoInspeccion:focus {
  background-color: #0098ff;
}

.google-visualization-tooltip {
  white-space: pre-line !important;
}

.imgContainer {
  overflow: hidden;
  display: inline-flex;
}

.imgContainer>span {
  width: 300px;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 40px;
  opacity: 0;

  transition: 0.1s all ease;
}

.imgContainer:hover>span {
  opacity: 1;
}

.card-grid-col {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.card-typical-section {
  border-bottom: 3px solid deepskyblue;
  padding-bottom: 10px;
}

.card-typical-content {
  text-align: center;
  padding: 10px 0;
}

.card-typical-content .title,
.tbl-cell .title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.hvr-color-success {}

.hvr-color-success:hover {
  color: var(--success);
}

.fieldDetallesIntercambio {
  width: 100%;
  background-color: white;
  padding: 10px 20px 0px 20px;
  border-radius: 5px;
  box-shadow: 6px 2px 9px 0px rgba(0, 0, 0, 0.02);
}

.fieldDetallesIntercambio legend {
  text-align: center;
  background-color: #0036a5;
  border-radius: 20px;
  width: 25%;
  color: white;
}

.fieldDetallesIntercambio label {
  font-size: 20px;
  display: inline-block;
}

#chart_div>div {
  overflow: overlay;
  overflow-y: hidden;
}

/* ==========================================================================
   Widgets simple
   ========================================================================== */
   .widget-simple-sm {
    border: solid 1px #d8e2e7;
    background: #fff;
    -webkit-border-radius: .25rem;
            border-radius: .25rem;
    text-align: center;
  }
  .widget-simple-sm .widget-simple-sm-icon {
    height: 80px;
    overflow: hidden;
    line-height: 80px;
    font-size: 2.75rem /*44/16*/;
  }
  .widget-simple-sm .widget-simple-sm-icon .font-icon {
    position: relative;
    top: 5px;
  }
  .widget-simple-sm .widget-simple-sm-statistic {
    line-height: 1;
    padding: 15px 10px;
  }
  .widget-simple-sm .widget-simple-sm-statistic .number {
    font-weight: 600;
    font-size: 1.5rem /*24/16*/;
    margin: 0 0 6px;
  }
  .widget-simple-sm .widget-simple-sm-statistic .caption {
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .widget-simple-sm .widget-simple-sm-bottom {
    border-top: solid 1px #d8e2e7;
    background: #f6f8fa;
    font-weight: 600;
    padding: 15px 10px;
    font-size: .9375rem;
    line-height: normal;
    -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
  }
  .widget-simple-sm .widget-simple-sm-bottom a {
    color: #343434;
  }
  .widget-simple-sm .widget-simple-sm-bottom a:hover {
    color: #00a8ff;
  }
  .widget-simple-sm .widget-simple-sm-bottom.statistic {
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1rem;
  }
  .widget-simple-sm .widget-simple-sm-bottom.statistic strong {
    font-weight: 600;
  }
  .widget-simple-sm .widget-simple-sm-bottom.statistic .arrow {
    font-size: 1rem;
  }
  .widget-simple-sm-fill {
    color: #fff;
    -webkit-border-radius: .25rem;
            border-radius: .25rem;
    text-align: center;
    background: #00a8ff;
  }
  .widget-simple-sm-fill .widget-simple-sm-icon {
    height: 80px;
    overflow: hidden;
    line-height: 80px;
    font-size: 2.75rem /*44/16*/;
  }
  .widget-simple-sm-fill .widget-simple-sm-icon .font-icon {
    position: relative;
    top: 17px;
  }
  .widget-simple-sm-fill .widget-simple-sm-fill-caption {
    font-weight: 600;
    font-size: .9375rem;
    line-height: normal;
    padding: 16px 10px 15px;
  }
  .widget-simple-sm-fill.red {
    background-color: #fa424a;
  }
  .widget-simple-sm-fill.green {
    background-color: #46c35f;
  }
  .widget-simple-sm-fill.orange {
    background-color: #fdad2a;
  }
  .widget-simple-sm-fill.purple {
    background-color: #ac6bec;
  }
  .widget-simple-sm-fill.grey {
    background-color: #adb7be;
  }

  /*  */
  .tooltip {
    z-index: 20000;
  }
  body.lobipanel-minimized {
    padding-bottom: 36px;
  }
  .lobipanel {
    position: relative;
    margin-bottom: 15px;
  }
  .lobipanel > .panel-heading {
    padding: 5px;
    position: relative;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .lobipanel > .panel-heading > .panel-title {
    float: left;
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 30px;
    padding-left: 15px;
  }
  .lobipanel > .panel-heading > .panel-title h1,
  .lobipanel > .panel-heading > .panel-title h2,
  .lobipanel > .panel-heading > .panel-title h3,
  .lobipanel > .panel-heading > .panel-title h4,
  .lobipanel > .panel-heading > .panel-title h5,
  .lobipanel > .panel-heading > .panel-title h6 {
    margin: 0;
    line-height: 30px;
  }
  .lobipanel > .panel-heading > .panel-title input {
    color: inherit;
    line-height: 30px;
    border-radius: 2px;
    padding: 0 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #337ab7;
    outline: 0;
  }
  .lobipanel > .panel-heading > .panel-title input:focus {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .lobipanel > .panel-heading .dropdown {
    display: inline-block;
    float: right;
    position: relative;
  }

  .cajasPatio{
    padding-bottom: 10px !important;
  }
  
  .lobipanel > .panel-heading .dropdown .dropdown-menu {
    left: auto;
    right: 0;
    min-width: initial;
    margin-top: 0;
    border-radius: 0;
  }
  .lobipanel > .panel-heading .dropdown .dropdown-menu > li > a .control-title {
    display: inline-block;
    margin-left: 15px;
  }
  .lobipanel > .panel-heading .dropdown .dropdown-toggle {
    border: none;
    outline: 0;
    background-color: transparent;
    text-align: center;
    padding: 0;
    width: 30px;
    font-size: 14px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .lobipanel > .panel-heading .dropdown .dropdown-toggle .panel-control-icon {
    top: 0;
    line-height: 30px;
  }
  .lobipanel > .panel-heading .dropdown .dropdown-toggle:hover,
  .lobipanel > .panel-heading .dropdown .dropdown-toggle:hover:focus {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.15);
  }
  .lobipanel > .panel-heading .dropdown.open .dropdown-toggle {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.15);
  }
  .lobipanel > .panel-heading:before,
  .lobipanel > .panel-heading:after {
    content: " ";
    display: table;
  }
  .lobipanel > .panel-heading:after {
    clear: both;
  }

  .form-control {
    border: 1px solid #a8a9ab !important;
  }

/* .sidebar-item > a.active, .sidebar-item > .sidebar-item.selected {
    background-color: orange;
  } */
  .label-dark {
    background-color: gray;
  }

  .input-group.date .input-group-addon {
    background-color: #dbe4ea;
    border: none;
    border-color: #dbe4ea;
    color: rgba(108, 122, 134, 0.7);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 0 0.75rem;
  }
  .input-group.date .input-group-addon .font-icon {
    vertical-align: middle;
    font-size: 1rem /*18/16*/;
    position: relative;
    top: .08rem;
  }
  .input-group.date .bootstrap-datetimepicker-widget + .input-group-addon,
  .input-group.date .input-group-addon:hover {
    background-color: #00a8ff;
    border: none;
    border-color: #00a8ff;
    color: #fff;
  }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px !important;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
    max-width: 1200px !important;
  }
}

.text-rojo {
  color: red !important;
}

.form-control.is-invalid {
  border-color: #da542e !important;
}

.mostrar {
  display: block;
}

.invalid-feedback {
  font-size: 14px;
  color: red;
}

select.form-control{
  width: 100%;
  height: 100%;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #0a1a31;
}

.btn-group {
  margin-bottom: 10px;
  padding-left: 0px;
}

#btnExcel {
  color: #fff;
  background-color: #28b779;
  border-color: #28b779;
}

.is-invalid .select2-selection,
.needs-validation~span>.select2-dropdown {
    border-color: red !important;
}

.lbl-mb-0 {
    margin-bottom: 0px !important;
}

.lbl-mb-16 {
    margin-bottom: 16px;
}
